/* styles for page header*/

#global-header {
    position: relative ;
    background-color : #ececec ;
    margin-bottom: 3rem ;
    .logo-container {
	position: relative ;
	margin-left: auto ;
	margin-right: auto ;
	width: 60% ;
	max-width: 200px ;
	img {
	    display: block ;
	    max-width: 100% ;
	}
    }
}
